$text-color: white;
$box-background: #3E3232;

#quote-container {
    text-align: center;

    #quote-box {
        background-color: $box-background;
        width: 600px;
        border-radius: 8px;
        color: $text-color;
        padding: 25px;

        .bi-quote {
            font-size: 40px;
            overflow: hidden;
        }

        .text {
            .row #text {
                font-size: 22px;
                font-weight: 500;

                .bi-quote {
                    display: inline-flex;
                }
            }

            .row #author {
                text-align: right;
                padding-top: 7px;
            }
        }

        .button-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            a {
                width: 50px;
                background-color: $text-color;
            }
            
            a:hover {
                background-color: #41B06E;
            }
        }
    }

    a {
        text-decoration: none;
        color: $box-background;
        transition: 1s;
    }

    a:hover {
        text-decoration: underline;
        transition: 1s;
    }
}