$text-color: white;

#quote-container {
    text-align: center;

    #quote-box {
        background-color: #3E3232;
        width: 600px;
        border-radius: 8px;
        color: $text-color;
        padding: 25px;

        .row #text{
            font-size: 22px;
            font-weight: 500;

            .bi-quote {
                font-size: 40px;
            }
        }

        .button-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            button {
                width: 50px;
                background-color: $text-color;
            }
        }
    }
}